extends layout

block content
    h1= article.title
    h5 Publié par #{article.author}
    p= article.body
    hr
    a.btn.btn-default(href="/article/edit/"+article._id) Modifier
    a.m-2.btn.btn-danger.delete-article(href="#", data-id=article._id) Supprimer